#reg {
	width: 400px;
	border: 3px solid black;
	display: inline-block;
	height: 400px;
	vertical-align: top;
}
#log {
	width: 400px;
	border: 3px solid black;
	display: inline-block;
	height: 200px;
	vertical-align: top;
}
.red {
	color: red;
}
#beg {
	border: 2px solid black;
	text-decoration: none;
	color: black;
	background-color: grey;
	padding: 2px;
}