<h1 class="red">Error</h1>
<h3>You have attempted to access a web page that does not exist</h3>
<p class="red">As this website has been perfectly formatted, you are now suspected of improper and malicious activity.</p>
<p class="red">An investigation into your dishonorable undertaking has already been commenced and we find you guilty </p>
<p>You must beg for forgiveness if you wish to continue</p>
<a href="/events" id="beg">I apologize for my deviant behaviour and beg for forgiveness</a>